
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        
        <br />
        <div>
            <h3>Manage Hospital Management Here.................................  </h3>
        </div>
        <img src="http://www.silvermountain.edu.np/html/images/item_images/images/stories/school/aboutus.jpg" width="950" height="500" />
    </div>
</body>
</html>
